*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #686de0;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 50px 20px;
    width: 800px;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
}

h3{
    opacity: .5;
    letter-spacing: 1px;
    margin: 0%;
    font-weight: 700;
}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

#jokeBtn{
    background-color: #9f68e0;
    padding: 10px 20px;
    color: white;
    border:none;
    border-radius:5px ;
    letter-spacing: 1px;
    cursor: pointer;
   
}

